body {
    font-family: sans-serif;
    text-align: center;
    background-color: azure;
    }
    
    button {
    padding: 10px 20px;
    
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    }
    .imagem {
        max-width: 100%;
        height: 500px ;
        width: 500px;
        border-radius: 10in;
    }